[Unit]
Description=REST API service
After=cloud-final.service
Wants=cloud-final.service

 

[Service]
Type=simple
User=webappuser
ExecStart=/usr/bin/node /home/admin/WebApp/app.js
EnvironmentFile=/home/admin/WebApp/.env
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

 

[Install]
WantedBy=cloud-init.target